In [39]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import tkinter as tk
from tkinter import filedialog
import time



# ask the user to select a file

# Ask user to select a file
root = tk.Tk()
root.withdraw()
print("Select a CSV file to load into a Pandas DataFrame")
file_path = filedialog.askopenfilename(filetypes=[('CSV files', '*.csv')])

# Load selected file into Pandas DataFrame
df = pd.read_csv(file_path)

# only keep columns we need
df = df[['Supplier Name', 'Supplier Number', 'Payment Date', 'Payment Total', 'Po Number', 'Invoice Number', 'Invoice Date', ]]

# Convert the columns to formats we need
df['Payment Date'] = pd.to_datetime(df['Payment Date'])
df['Payment Total'] = pd.to_numeric(df['Payment Total'].str.replace(',', ''), errors='coerce')
df['Supplier Number'] = pd.to_numeric(df['Supplier Number'], errors='coerce')
df['Po Number'] = pd.to_numeric(df['Po Number'], errors='coerce')


# print total number of rows and columns
print("Total number of rows:", len(df))
print("Total number of columns:", len(df.columns))
#print a table of columns and data types
print(df.dtypes)

# Filter data for transactions over 1000 and sort by supplier name  
filtered_df = df[df['Payment Total'] > 1000].sort_values(by=['Supplier Name'])
#print number of rows 
print("Number of rows after filtering:", len(filtered_df))

#sort by supplier name
filtered_df = filtered_df.sort_values(by=['Supplier Name'])

#print the first 50 rows
print(filtered_df.head(50))

#choose the first 10000 rows
#filtered_df = filtered_df.head(10000)

Select a CSV file to load into a Pandas DataFrame

C:\Users\Alex\AppData\Local\Temp\ipykernel_2644\2209136382.py:19: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Total number of rows: 510999
Total number of columns: 7
Supplier Name              object
Supplier Number             int64
Payment Date       datetime64[ns]
Payment Total             float64
Po Number                 float64
Invoice Number             object
Invoice Date               object
dtype: object
Number of rows after filtering: 124950
                             Supplier Name  Supplier Number Payment Date  \
434103                   1-800-Bollard Inc           875254   2020-12-08
418372                   1-800-Bollard Inc           875254   2020-12-08
69637                    1-800-Bollard Inc           875254   2021-02-16
199049                   1-800-Bollard Inc           875254   2020-12-08
388817                1211 Hixson Pike LLC           874115   2019-02-13
5992                         1400 Chestnut           875548   2021-06-29
397691                 201 Main Street LLC           871089   2016-05-23
87970                  201 Main Street LLC           871089   2016-05-23
360535                 201 Main Street LLC           871089   2016-05-23
57456   2100 Amnicola Highway Holdings LLC           868159   2014-09-03
179160                        26 Tools LLC           872478   2020-06-24
394730                        26 Tools LLC           872478   2019-09-30
497773                        26 Tools LLC           872478   2019-08-19
286922     28th Legislative Dist Community           734505   2012-01-19
251333     28th Legislative Dist Community           734505   2012-04-11
117689     28th Legislative Dist Community           734505   2013-11-04
418342     28th Legislative Dist Community           734505   2012-10-04
277831     28th Legislative Dist Community           734505   2012-04-11
59955                      2XL Corporation           865883   2012-12-10
42418                  3/B The Black Group           864321   2014-04-24
213984     3D Enterprises Contracting Corp           872390   2019-03-04
371017     3D Enterprises Contracting Corp           872390   2017-12-06
164272     3D Enterprises Contracting Corp           872390   2018-06-28
243952     3D Enterprises Contracting Corp           872390   2019-05-24
405986     3D Enterprises Contracting Corp           872390   2018-12-05
353705     3D Enterprises Contracting Corp           872390   2018-03-05
374500     3D Enterprises Contracting Corp           872390   2017-06-13
293211     3D Enterprises Contracting Corp           872390   2018-10-29
181734     3D Enterprises Contracting Corp           872390   2018-10-03
466613     3D Enterprises Contracting Corp           872390   2018-09-05
402454     3D Enterprises Contracting Corp           872390   2018-07-25
340211     3D Enterprises Contracting Corp           872390   2017-10-09
163821     3D Enterprises Contracting Corp           872390   2019-02-11
230576     3D Enterprises Contracting Corp           872390   2019-01-14
361819     3D Enterprises Contracting Corp           872390   2018-03-29
451973     3D Enterprises Contracting Corp           872390   2020-09-29
470813     3D Enterprises Contracting Corp           872390   2017-09-06
247027     3D Enterprises Contracting Corp           872390   2017-07-24
323309     3D Enterprises Contracting Corp           872390   2018-01-03
321054     3D Enterprises Contracting Corp           872390   2017-09-06
208254     3D Enterprises Contracting Corp           872390   2017-06-28
81558      3D Enterprises Contracting Corp           872390   2020-12-08
382746     3D Enterprises Contracting Corp           872390   2018-05-30
137951     3D Enterprises Contracting Corp           872390   2018-01-31
117524     3D Enterprises Contracting Corp           872390   2018-05-01
199507     3D Enterprises Contracting Corp           872390   2017-11-07
357166                          3m Company            96999   2015-02-12
359784                          3m Company            96999   2014-03-26
415662                          3m Company            96999   2013-03-20
460471                          3m Company            96999   2013-03-20

        Payment Total  Po Number   Invoice Number            Invoice Date
434103        7379.23        NaN             4082  11/02/2020 12:00:00 AM
418372        7379.23   559307.0             4082  11/02/2020 12:00:00 AM
69637         1068.28   560006.0             4247  01/22/2021 12:00:00 AM
199049        7379.23   559306.0             4082  11/02/2020 12:00:00 AM
388817       13853.77        NaN   1211HP01232019  01/23/2019 12:00:00 AM
5992          2182.00   561708.0  S ROBINSON 0621  06/25/2021 12:00:00 AM
397691        1055.17        NaN         70448-15  04/25/2016 12:00:00 AM
87970         1583.90        NaN         70449-15  04/25/2016 12:00:00 AM
360535        1331.75        NaN         70447-15  04/25/2016 12:00:00 AM
57456        16771.23        NaN   136C-B-014(13)  08/21/2014 12:00:00 AM
179160        2300.00   554375.0         554375 3  06/12/2020 12:00:00 AM
394730        7500.00   554375.0         554375-2  08/21/2019 12:00:00 AM
497773        4200.00   554375.0        554375 1R  06/18/2019 12:00:00 AM
286922        4958.33        NaN     1850/1-11-12  01/11/2012 12:00:00 AM
251333       14770.01        NaN     1853/3-29-12  03/29/2012 12:00:00 AM
117689        4366.65   523416.0    28TH CDC-0813  08/19/2013 12:00:00 AM
418342       12911.50        NaN     1778/9-21-12  09/21/2012 12:00:00 AM
277831        7548.30        NaN  1853/3-29-12(2)  03/29/2012 12:00:00 AM
59955         1225.35   518118.0           138165  11/02/2012 12:00:00 AM
42418         4524.24        NaN   148K-A-003(10)  09/08/2011 12:00:00 AM
213984       23117.00   542974.0        542974 22  02/26/2019 12:00:00 AM
371017     1542740.48   542974.0         542974 7  11/21/2017 12:00:00 AM
164272      768448.27   542974.0        542974 14  06/26/2018 12:00:00 AM
243952       52150.00   542974.0        542974 23  05/17/2019 12:00:00 AM
405986      406573.93   542974.0        542974 19  11/27/2018 12:00:00 AM
353705      604249.70   542974.0        542974 10  02/27/2018 12:00:00 AM
374500      678248.55   542974.0         542974-1  05/25/2017 12:00:00 AM
293211      466395.93   542974.0        542974 18  10/26/2018 12:00:00 AM
181734      701159.84   542974.0        542974 17  09/25/2018 12:00:00 AM
466613     1012470.36   542974.0        542974 16  08/24/2018 12:00:00 AM
402454      900307.13   542974.0        542974 15  07/17/2018 12:00:00 AM
340211      435578.18   542974.0         542974 5  09/28/2017 12:00:00 AM
163821      275082.24   542974.0        542974 21  01/24/2019 12:00:00 AM
230576      278163.20   542974.0        542974 20  12/07/2018 12:00:00 AM
361819      913399.66   542974.0        542974 11  03/26/2018 12:00:00 AM
451973       85003.41   559092.0       SETTLEMENT  06/23/2020 12:00:00 AM
470813       19601.41        NaN        542974-4R  08/24/2017 12:00:00 AM
247027      664871.00   542974.0         542974-3  07/20/2017 12:00:00 AM
323309     1144748.99   542974.0         542974 8  12/20/2017 12:00:00 AM
321054      392028.24   542974.0         542974-4  08/24/2017 12:00:00 AM
208254      658671.79   542974.0         542974-2  06/23/2017 12:00:00 AM
81558       145488.59   542974.0        542974 26  11/09/2020 12:00:00 AM
382746      510607.90   542974.0        542974 13  05/24/2018 12:00:00 AM
137951      758317.82   542974.0         542974 9  01/24/2018 12:00:00 AM
117524      768866.33   542974.0        542974 12  04/26/2018 12:00:00 AM
199507      825314.87   542974.0         542974 6  10/26/2017 12:00:00 AM
357166        1083.45   528600.0          UM25131  01/06/2015 12:00:00 AM
359784        2394.00   509553.0          SS55137  03/12/2014 12:00:00 AM
415662        1069.50   509553.0          SS00568  03/04/2013 12:00:00 AM
460471        2047.50   509553.0          SS00569  03/01/2013 12:00:00 AM

Load file, convert payment date and total to data types
Check total rows and columns and datatypes

In [40]:
def within_1_percent(df):
    """
    Filter data within 1% of each other in the Payment Total column and within 5 days of each other.
    """
    if len(df) >= 2:
        mean_payment = df['Payment Total'].mean()
        upper_limit = mean_payment * 1.01
        lower_limit = mean_payment * 0.99
        max_date = df['Payment Date'].max()
        min_date = df['Payment Date'].min()
        if (max_date - min_date).days <= 5:
            return df[(df['Payment Total'] <= upper_limit) & (df['Payment Total'] >= lower_limit)]
        else:
            return pd.DataFrame()
    else:
        return pd.DataFrame()
        
# Filter data for transactions over 1000
filtered_df = df[df['Payment Total'] > 1000]

#choose the first 10000 rows
#filtered_df = filtered_df.head(10000)

# Group by Supplier Name and filter for transactions within 1% of each other in the Payment Total column
grouped_df = filtered_df.groupby('Supplier Name').apply(within_1_percent).reset_index(drop=True)

# Exclude results with less than two rows per vendor
grouped_df = grouped_df.groupby('Supplier Name').filter(lambda x: len(x) >= 2)

# print total number of rows 
print("Total number of rows:", len(grouped_df))

# Remove empty dataframes from the grouped data
grouped_df = grouped_df[grouped_df['Payment Total'].notna()]

#print first 50 rows of the grouped data just supplier, amount, date and invoice number
print("First 50 rows of the grouped data same supplier, within 1% and 5 days")
print(grouped_df[['Supplier Number', 'Payment Total', 'Payment Date', 'Invoice Number']].head(50))

Total number of rows: 375
First 50 rows of the grouped data same supplier, within 1% and 5 days
    Supplier Number  Payment Total Payment Date Invoice Number
1          732743.0        5895.43   2012-04-18     7101332853
2          732743.0        5895.43   2012-04-18     7101332853
3          867619.0        1301.85   2014-05-20          79095
4          867619.0        1301.85   2014-05-20          79095
5          871874.0        1750.80   2017-04-10         035113
6          871874.0        1750.80   2017-04-10         035113
7          866643.0        2010.15   2013-05-31          25578
8          866643.0        2010.15   2013-05-31          25578
9          874759.0        3490.00   2020-02-19         425081
10         874759.0        3490.00   2020-02-19         425079
11         869725.0       22379.99   2015-12-07       15-17689
12         869725.0       22379.99   2015-12-07       15-17689
13         874539.0        1097.00   2019-09-09       30008143
14         874539.0        1097.00   2019-09-09       30008144
15         753302.0        1444.71   2016-12-21         505598
16         753302.0        1444.71   2016-12-21         505598
17         865271.0        5223.00   2012-05-31           1526
18         865271.0        5223.00   2012-05-31           1526
19         875338.0        3196.00   2021-03-02      8686177-1
20         875338.0        3196.00   2021-03-02      8686188-1
21         875338.0        3196.00   2021-03-02      8686169-1
22         875338.0        3196.00   2021-03-02      8686178-1
23         875338.0        3196.00   2021-03-02      8686184-1
24         866623.0        3342.76   2013-05-21        2053045
25         866623.0        3342.76   2013-05-21        2053045
26         870289.0        1560.00   2015-12-23          23102
27         870289.0        1560.00   2015-12-23          23102
28         752024.0        1542.23   2016-11-04  313249-299821
29         752024.0        1542.23   2016-11-04  313249-299821
30         875462.0        1253.56   2021-04-29     0423460-IN
31         875462.0        1253.56   2021-04-29     0423460-IN
33         867772.0        1605.74   2014-04-11        1614192
34         867772.0        1605.74   2014-04-11        1614192
35         860155.0        7600.00   2014-01-16         E00782
36         860155.0        7600.00   2014-01-16         E00782
38         872907.0        3993.00   2017-10-17           3262
39         872907.0        3993.00   2017-10-17           3262
40         862776.0        2221.21   2017-08-25         B31841
41         862776.0        2221.21   2017-08-25         B31841
42         869779.0        1655.12   2015-08-18         168887
43         869779.0        1655.12   2015-08-18         168887
44         871696.0        7247.58   2016-10-21          22183
45         871696.0        7247.58   2016-10-21          22183
46         875298.0       19980.45   2021-01-07   WGI000009859
47         875298.0       19980.45   2021-01-07   WGI000009859
48         875513.0        2751.23   2021-07-01       00062207
49         875513.0        2751.23   2021-07-01       00062207
50         868103.0        4473.13   2014-06-25         129830
51         868103.0        4473.13   2014-06-25         129830
52         753750.0        4520.00   2013-06-04         490485

Filter for 1000
Filter for Same Supplier, +-5d Payment Date, and 1% payment total

In [41]:
# Define a function to filter groups with less than 2 rows
def at_least_2_rows(df):
    return len(df) >= 2

# Group the data by Invoice Number and Payment Total, and filter for groups with at least 2 rows and sort by supplier name
grouped_df2 = df.groupby(['Invoice Number', 'Payment Total']).filter(at_least_2_rows).sort_values(by=['Supplier Name'])

# Remove empty dataframes from the grouped data
grouped_df2 = grouped_df2[grouped_df2['Payment Total'].notna()]

# Print total number of rows
print("Total number of rows:", len(grouped_df2))

#print first 50 rows of the grouped data just supplier, amount, date and invoice number
print("First 50 rows of the grouped data same invoice, same amount")
print(grouped_df2[['Supplier Number', 'Payment Total', 'Payment Date', 'Invoice Number']].head(50))

Total number of rows: 36645
First 50 rows of the grouped data same invoice, same amount
        Supplier Number  Payment Total Payment Date  Invoice Number
418372           875254        7379.23   2020-12-08            4082
199049           875254        7379.23   2020-12-08            4082
434103           875254        7379.23   2020-12-08            4082
298289           731922        1000.00   2015-02-19     COC01302015
231181           874550         150.00   2019-09-16             004
76233             96999        1845.00   2021-07-22      9411836016
476603            96999         102.99   2013-01-22         TP78542
297903            96999         102.99   2013-01-22         TP78542
71052             96999        1845.00   2021-07-22      9411836016
328699            96999         144.19   2012-08-13         TP58323
415593            96999         144.19   2012-08-13         TP58323
255370           743050        5129.43   2015-10-26         4132115
346292           743050        5129.43   2015-10-26         4132115
360594           870174         400.00   2015-09-09  L JOHNSON 0815
97155            219229        8715.00   2012-03-23           22151
31980            219229        8715.00   2012-03-23           22151
95993            219229        1080.70   2012-03-07           22097
64996            219229        1080.70   2012-03-07           22097
442274           861987        3224.16   2013-08-19      2575108-00
263040           861987        3224.16   2013-08-19      2575108-00
377122            30889          58.20   2018-10-17            9187
22175             30889         518.00   2019-07-08           10950
216993            30889          83.40   2018-10-08            9190
440067            30889         267.80   2019-03-06           10137
15602             30889         352.00   2021-06-15           15785
304651            30889        1322.15   2018-08-08            7557
408173            30889         159.00   2018-10-10            9099
66177             30889         685.00   2021-07-29           15863
272918            30889         355.00   2019-03-04           10123
287124            30889         344.90   2018-12-12            9442
390033            30889         229.00   2019-06-19           10891
199585            30889         182.67   2016-03-11            3156
209158            30889         297.00   2019-02-19            9930
387679            30889         218.20   2019-05-15           10656
314210            30889          57.80   2018-10-08            9191
256142            30889         229.00   2019-06-19           10891
205897            30889         154.20   2019-04-29           10531
330399            30889         144.00   2018-10-10            9145
374925            30889         295.60   2019-06-19           10692
480453            30889         765.00   2018-08-23            8727
218773            30889         255.00   2019-03-27           10289
176773            30889         141.40   2019-04-10           10412
302171            30889         199.00   2019-06-19           10745
415802            30889         143.20   2018-10-10            9094
422651            30889         218.20   2019-05-15           10656
455808            30889          57.80   2018-10-10            9180
455852            30889         219.95   2018-10-10            9198
110642            30889         826.55   2018-08-08            7637
465001            30889         325.00   2019-06-19           10878
86802             30889         141.40   2019-04-10           10412

Matches for invoice number and total

In [42]:

# Group the data by PO Number and Payment Total, and filter for groups with at least 2 rows and sort by supplier name
grouped_df3 = filtered_df.groupby(['Po Number', 'Payment Total']).filter(at_least_2_rows).sort_values('Po Number')

# Remove empty dataframes from the grouped data
grouped_df3 = grouped_df3[grouped_df3['Payment Total'].notna()]

# Print total number of rows
print("Total number of rows:", len(grouped_df3))

# print first 50 rows of the grouped data just supplier, amount, date and invoice number
print("First 50 rows of the grouped data same PO, same amount")
print(grouped_df3[['Supplier Number', 'Payment Total', 'Payment Date', 'Invoice Number']].head(50))

Total number of rows: 20053
First 50 rows of the grouped data same PO, same amount
        Supplier Number  Payment Total Payment Date Invoice Number
315382           555101        3735.67   2012-01-19          15289
268810           555101        3735.67   2012-01-19          15411
197511           555101        3735.67   2012-03-16          15539
366655           747933        1088.00   2012-05-15     9423588507
56355            747933        1088.00   2012-05-15     9423604659
179607           151363        3688.00   2012-04-30      BMS190235
487512           151363        5532.00   2012-03-12      BMS154769
316657           151363        3688.00   2012-03-23      BMS179958
488019           151363        4610.00   2012-05-14      BMS207911
177600           151363        3688.00   2012-03-23      BMS171118
177069           151363        5532.00   2012-02-01      BMS147248
176477           151363        4149.00   2012-07-12      BMS247358
321440           151363        5532.00   2012-03-12      BMS151577
439772           151363        4149.00   2012-08-24      BMS270996
174091           151363        5532.00   2012-04-30      BMS184660
490082           151363        5071.00   2012-01-18      BMS127865
327948           151363        5532.00   2012-06-27      BMS227426
415200           151363        2766.00   2012-03-23      BMS169290
440614           151363        5532.00   2012-03-23      BMS173139
170095           151363        5532.00   2012-06-27      BMS234822
490996           151363        3227.00   2012-10-11      BMS295835
168123           151363        5532.00   2012-03-12      BMS158436
167542           151363        5532.00   2012-01-18      BMS123843
163134           151363        2766.00   2012-06-27      BMS225484
161131           151363        5532.00   2012-03-23      BMS176910
108152           151363        2766.00   2012-08-24      BMS264951
325056           151363        5532.00   2012-05-09      BMS204913
314750           151363        4610.00   2012-03-23      BMS178465
180486           151363        3688.00   2012-08-24      BMS273772
483071           151363        4149.00   2012-06-27      BMS224521
197249           151363        5532.00   2012-01-18      BMS137011
420085           151363        5532.00   2012-09-17      BMS287514
193510           151363        4610.00   2012-04-30      BMS184659
396067           151363        5532.00   2012-07-31      BMS252481
509055           151363        2305.00   2012-10-11      BMS294269
191887           151363        3688.00   2012-03-23      BMS172502
303726           151363        5532.00   2012-01-18      BMS131045
419573           151363        5532.00   2012-01-18      BMS141338
190203           151363        5532.00   2012-01-18      BMS141337
190057           151363        4610.00   2012-02-01      BMS146424
305000           151363        4610.00   2012-03-12      BMS153947
419312           151363        3688.00   2012-07-11      BMS239025
187964           151363        5532.00   2012-01-18      BMS135453
307466           151363        5532.00   2012-03-23      BMS170108
394877           151363        5532.00   2012-01-18      BMS128657
182921           151363        3688.00   2012-03-12      BMS163472
311975           151363        4610.00   2012-01-24      BMS142561
312182           151363        5532.00   2012-06-29      BMS239837
461050           151363        5532.00   2012-05-25      BMS210748
180588           151363        4149.00   2012-06-27      BMS222045

Matches for Po Number and total

In [43]:
# Save the Excel file
print("Saving Excel file...")


# Create a Tkinter file save dialog box with default extension '.xlsx'
file_path = filedialog.asksaveasfilename(defaultextension='.xlsx', filetypes=[('Excel files', '*.xlsx')])

# Create an Excel writer object
writer = pd.ExcelWriter(file_path, engine='xlsxwriter')

# Write the filtered data to a tab
filtered_df.to_excel(writer, sheet_name='Filtered Data', index=False)

# Write the grouped data to a tab
grouped_df.to_excel(writer, sheet_name='Grouped Data', index=False)

# Write the grouped data to a tab
grouped_df2.to_excel(writer, sheet_name='Grouped Data 2', index=False)

# Write the grouped data to a tab
grouped_df3.to_excel(writer, sheet_name='Grouped Data 3', index=False)

print("Excel file saved successfully!")

# Close the Excel writer object
writer.close()

# open the file that was just saved
import os
os.startfile(file_path)

Saving Excel file...
Excel file saved successfully!